/*Switch to ...a few moments later.. with voice in between burgers being eaten*/

body {
background: url("http://www.kinyu-z.net/data/wallpapers/228/1501267.jpg") no-repeat center center fixed;
    background-size: cover;
    font-family: Krabby Patty;
    color: rgb(255, 253, 56);
    text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    max-height: 100%;
    max-width: 100%;
}

.main-content {
    background: url("http://www.kinyu-z.net/data/wallpapers/228/1501267.jpg") no-repeat center center fixed;
    background-size: cover;

}

.meh {
    background-color: black;
    width: 50px;
    height: 50px;
}

#mom-lat {
    width: 100%;
}

@font-face {
    font-family: Krabby Patty;
    src: url('Krabby Patty.ttf'),
    url('Krabby Patty.eot');
    /* IE9 */
}

#krab-dreams {
  position: absolute;
  left: 42%;
  top: 22%;
}

.krabby-patty {
    width: 60px;
    height: auto;
    position: relative;
}

h2 {
    font-size: 32px;
}

.add-butto {
    color: black;
}

.contain {
    margin-left: 10px;
}